body {
	background-color: #1d1d1d;
	margin: 0;
	padding: 0;
	font-family: Verdana,Helvetica,Arial,sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	height: 100%;
}

.header {
	padding: 0 30px 0 30px;
	color: #dddddd;
	border-bottom: 1px solid #2e3234;
}

.content {
	overflow: hidden;
}

.dashboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #dddddd;
}

article {
	color: #dddddd;
	box-shadow: 0 2px 6px rgba(0,0,0,.5);
	border: 1px solid #1d1d1d;
	margin: 30px;
	padding: 10px;
	min-height: 200px;
	min-width: 300px;
	max-width: 400px;
	flex: 1;
	/*flex: 1 1 100%;*/
	border-radius: 5px;
}

article > p {
	color: #cccccc;
	max-height: 400px;
	overflow: hidden;
}

article > p a {
	color: #2293EC;
}

article:hover {
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
}

article h2 {
	margin: 0;
}

article input[type=text],
article textarea {
	border: 1px solid #2e3234;
	border-radius: 3px;
	background-color: #252829;
	padding: 7px;
	vertical-align: middle;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
	color: #dddddd;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
}

article textarea {
	resize: vertical;
	min-height: 300px;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
}

article label {
	font-size: 12pt;
	font-weight: bold;
}

.button {
	background-color: #2293EC;
	border-radius: 3px;
	background-image: linear-gradient(#87BEE9, #2293EC);
	border: 1px solid #1889E3;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-weight: bold;
	color: #ffffff;
	font-size: 13px;
	cursor: pointer;
}

.circle {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	font-size: 20px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	position: fixed;
	bottom: 50px;
	right: 50px;
}

.blue {
	background: #2293EC;
}

.red {
	background: #CF242A;
}

.yellow {
	background: #2293EC;
}