body {
	background-color: #1d1d1d;
	margin: 0;
	padding: 0;
	font-family: Verdana,Helvetica,Arial,sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	height: 100%;
	min-width: 360px;
}

.header {
	padding: 0 10px 0 10px;
	color: #dddddd;
	border-bottom: 1px solid #2e3234;
}

.header h1 {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
}

.content {
	overflow: hidden;
}

.dashboard {
	color: #dddddd;
	/*background-color: #252829;*/
}

.empty {
	color: #dddddd;
	background-color: #1d1d1d;
	padding: 10px;
}

section.post article {
	color: #dddddd;
	background-color: #1d1d1d;
	margin-bottom: 10px;
	/*box-shadow: 0 2px 6px rgba(0,0,0,.5);*/
	border: 1px solid #1d1d1d;
	padding: 10px;
}

section.post article:last-child {
	margin-bottom: 0;
}

section.post article > p {
	color: #cccccc;
}

section.post article > p a {
	color: #2293EC;
}

/* comment section */
section.comment {
	margin-top: 10px;
}

section.comment article {
	color: #dddddd;
	background-color: #1d1d1d;
	border-bottom: 1px solid #2e3234;
	padding: 0 15px;
}

section.comment > article > p {
	font-size: 8pt;
}

span.article-header {
	color: #cccccc;
	font-size: 8pt;
}

span.article-footer {
	color: #cccccc;
	font-size: 8pt;
}

article input[type=text],
article textarea {
	border: 1px solid #2e3234;
	border-radius: 3px;
	background-color: #252829;
	padding: 7px;
	vertical-align: middle;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
	color: #dddddd;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
}

article textarea {
	resize: vertical;
	/*min-height: 300px;*/
	width: 100%;
	font-family: inherit;
	font-size: inherit;
}

article label {
	font-size: 12pt;
	font-weight: bold;
}

.search {
	border: 1px solid #2e3234;
	border-radius: 3px;
	background-color: #252829;
	padding: 7px;
	vertical-align: middle;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
	color: #dddddd;
	margin-bottom: 10px;
	box-sizing: border-box;
	float: right;
	clear: both;
	margin-top: 28px;
}

.saerch:focus,
.search:hover {
	border: 1px solid #2293EC;
}

.button {
	background-color: #2293EC;
	border-radius: 3px;
	background-image: linear-gradient(#87BEE9, #2293EC);
	border: 1px solid #1889E3;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-weight: bold;
	color: #ffffff;
	font-size: 13px;
	cursor: pointer;
}

.circle {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	font-size: 25px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	position: fixed;
	bottom: 25px;
	right: 25px;
}

.blue {
	background: #2293EC;
}

.red {
	background: #CF242A;
}

.yellow {
	background: #2293EC;
}