{% extends "layout.html" %}
{% block body %}
<div class="dashboard">
	<section class="post">
		<article>
			<label for="title">Title</label>
			<textarea style="height: 100px;" name="title" placeholder="Dein Titel..." id="title">{{ view.title }}</textarea>
			
			<label for="content">Text <span style="color: #4d4d4d;">(optional)</span></label>
			<textarea style="height: 300px;" name="content" placeholder="Dein Text..." id="content">{{ view.content }}</textarea>
			
			<input class="button" type="button" value="Veröffentlichen" id="submit" />
		</article>
	</section>
</div>
<script type="text/javascript">
	$(function() {
		$('#submit').click(function() {
			obj = {
				title: $('#title').val(),
				content: $('#content').val(),
			};
			
			$.ajax({
				url: '/edit/{{ view.id }}',
				type: 'post',
				data: JSON.stringify(obj),
				dataType: 'json',
				contentType: 'application/json',
				success: function() {
					location.href = '/';
				}
			});
		});
	});
</script>
{% endblock %}