{% extends "layout.html" %}
{% block body %}
<div class="dashboard">
	<section class="post">
		<article>
			<label for="title">Benutzername</label>
			<input type="text" id="username" name="username" placeholder="Benutzername..." id="title" />
			
			<label for="content">Text</label>
			<input type="password" id="password" name="password" placeholder="Password..." id="content" />
			
			<input class="button" type="button" value="Login" id="submit" />
		</article>
	</section>
</div>
<script type="text/javascript">
	$(function() {
		$('#submit').click(function() {
			obj = {
				username: $('#username').val(),
				password: $('#password').val()
			};
			
			$.ajax({
				url: '/login',
				type: 'post',
				data: JSON.stringify(obj),
				dataType: 'json',
				contentType: 'application/json',
				success: function() {
					location.href = '/';
				}
			});
		});
	});
</script>
{% endblock %}