{% extends "layout.html" %}
{% block body %}
<div class="dashboard">
	<section class="menu" style="position: relative;">
		<div style="padding: 5px 10px 5px 10px; cursor: pointer; border-bottom: 1px solid #2e3234;">
			<i id="menu" class="material-icons">&#xE5D4;</i>
		</div>
		<ul id="menu-dropdown" style="display: none; position: absolute; top: 20; left: 0; right: 0;">
			<li><a href="/edit/{{ view.id }}"><i class="material-icons">&#xE254;</i> Bearbeiten</a></li>
			<li><a href="/remove/{{ view.id }}"><i class="material-icons">&#xE872;</i> Löschen</a></li>
		</ul>
	</section>
	<section class="post">
		<article>
			<span class="article-header"><a href="/u/admin">/u/admin</a> &bull; {{view.posted}}</span>
			<p>{{ view.title|safe }}</p>
			<p>{{ view.content|safe }}</p>
			<span class="article-footer"><i class="material-icons">&#xE253;</i> {{ view.comments_count }} Kommentare</span>
		</article>
	</section>
	<section class="comment">
		{% for comment in view.comments %}
		<article>
			<span class="article-header"><a href="/u/admin">/u/admin</a> &bull; {{ comment.posted }}</span>
			<p>{{ comment.content|safe }}</p>
		</article>
		{% endfor %}
	</section>
	<section class="post" style="display: none;" id="comment-input">
		<article>
			<label for="title">Kommentar</label>
			<textarea style="height: 100px;" name="content" placeholder="Dein Kommentar..." id="content"></textarea>
			
			<input class="button" type="button" value="Kommentieren" id="submit" />
		</article>
	</section>
</div>
<script type="text/javascript">
	$(function() {
		$('#menu').click(function() {
			$('#menu-dropdown').toggle();
		})
		
		$('#comment').click(function() {
			$('#comment-input').toggle();
		})
		
		$('#submit').click(function() {
			obj = {
				content: $('#content').val()
			};
			
			$.ajax({
				url: '/c/{{ view.id }}',
				type: 'post',
				data: JSON.stringify(obj),
				dataType: 'json',
				contentType: 'application/json',
				success: function() {
					location.href = '/s/{{ view.id }}';
				}
			});
		});
	});
</script>
<div class="circle red" style="cursor: pointer;" id="comment"><i class="material-icons">&#xE253;</i></div>
{% endblock %}