{% extends "layout.html" %}
{% block body %}
<div class="dashboard">
	<section class="post">
		{% for postit in view %}
		<article>
			<span class="article-header">
				<a href="/u/admin">admin</a> &bull; {{postit.posted}}
			</span>
			<a href="/s/{{ postit.id }}">
				<p>{{ postit.title }}</p>
			</a>
			<span class="article-footer">
				<a href="/s/{{ postit.id }}"><i class="material-icons">&#xE253;</i> {{postit.comments}} Kommentare</a>
			</span>
		</article>
		{% endfor %}
	</section>
</div>
<a class="circle blue" href="/submit"><i class="material-icons">&#xE145;</i></a>
{% endblock %}
