{% extends "layout.html" %}
{% block body %}
<div class="dashboard">
	<article style="max-width: 800px;">
		<label for="title">Title:</label>
		<input type="text" name="title" placeholder="Dein Titel..." id="title" />
		<label for="content">Text:</label>
		<textarea name="content" placeholder="Dein Text..." id="content"></textarea>
		<input class="button" type="button" value="Veröffentlichen" id="submit" />
	</article>
</div>
<script type="text/javascript">
	$(function() {
		$('#submit').click(function() {
			obj = {
				title: $('#title').val(),
				content: $('#content').val()
			};
			
			$.ajax({
				url: '/submit',
				type: 'post',
				data: JSON.stringify(obj),
				dataType: 'json',
				contentType: 'application/json',
				success: function() {
					location.href = '/';
				}
			});
		});
	});
</script>
{% endblock %}