<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		<link type="text/css" href="/static/css/material.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/style.css" rel="stylesheet" />
		
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
		
		<title>postit</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="header" style="position: relative;">
				<h1><a href="/">postit</a> <i class="contextmenu material-icons">&#xE5CF;</i></h1>
				<input type="text" name="search" placeholder="Suche..." id="search" class="search" />
			</div>
			<div class="content">
				{% block body %}{% endblock %}

				<div class="menu">
					<div class="arrow-up"></div>
				</div>
			</div>
		</div>

		<div class="overlay"></div>

		<script type="text/javascript">
			String.prototype.format = function() {
				var s = this, i = arguments.length;
				
				while(i--) {
					s = s.replace(new RegExp('\\{' + i + '\\}', 'gm'), arguments[i]);
				}
				return s;
			}
			
			String.prototype.formatEx = function(placeholders) {
				var s = this;
				for(var propertyName in placeholders) {
					s = s.replace(new RegExp('\\{' + propertyName + '\\}', 'gm'), placeholders[propertyName]);
				}    
				return s;
			};
			
			$(function() {
				$('#search').keypress(function(e) {
					var term = $('#search').val().trim();
					if (e.which == 13 && term != '') {
						location.href = '/search/' + term;
					}
				});
				
				$('.contextmenu').click(function() {
					$('body').css('overflow','hidden');
					$('.overlay').show();

					var element = $(this).attr('data-id');
					$('#' + element).clone().removeAttr('id').addClass('remove').removeClass('hidden').appendTo('.menu');

					$('.menu').show();
				});
				
				$('.overlay').click(function() {
					$('body').css('overflow','');
					$('.overlay').hide();
					$('.menu').hide();
					$('.remove').remove();
				});
				
				// infinite scroll
				var page = 0;
				var win = $(window);
				win.scroll(function() {
					if($(document).height() - win.height() == win.scrollTop()) {
						//alert('end of live...');
					}
				});
			});
		</script>
	</body>
</html>