<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		<link type="text/css" href="/static/css/material.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/style.css" rel="stylesheet" />
		
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
		
		<title>postit</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="header" style="position: relative;">
				<h1><a href="/">postit</a> <i style="cursor: pointer; z-index: 999;" id="master" class="material-icons">&#xE5CF;</i></h1>
				<input type="text" name="search" placeholder="Suche..." id="search" class="search" />
				<div id="master-dropdown" class="menu">
					<div class="arrow-up"></div>
					<ul>
						{% if current_user.is_authenticated() %}
						<li>Hallo</li>
						<li><a href="/logout">Logout</a></li>
						{% else %}
						<li><a href="/login">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="content">
				{% block body %}{% endblock %}
			</div>
		</div>
		<div class="overlay"></div>
		<script type="text/javascript">
			$(function() {
				$('#search').keypress(function(e) {
					var term = $('#search').val().trim();
					if (e.which == 13 && term != '') {
						location.href = '/search/' + term;
					}
				});
				
				$('#master').click(function() {
					$('#master-dropdown').show();
					$('.overlay').show();
				})
				
				$('.overlay').click(function() {
					$('#master-dropdown').hide();
					$('#menu-dropdown').hide();
					$('.overlay').hide();
				})
			});
		</script>
	</body>
</html>